body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2179px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1417px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:1920px;
  height:1417px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:326px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:1932px;
  top:394px;
  width:247px;
  height:66px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:1932px;
  top:361px;
  width:65px;
  height:21px;
  font-size:16px;
  color:#996633;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:358px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:1932px;
  top:557px;
  width:247px;
  height:127px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:1932px;
  top:521px;
  width:129px;
  height:21px;
  font-size:16px;
  color:#996633;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:341px;
  width:0px;
  height:0px;
}
#u201_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:226px;
  height:8px;
}
#u201_seg1 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-5px;
  width:8px;
  height:9px;
}
#u201_seg2 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-5px;
  width:225px;
  height:8px;
}
#u201_seg3 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:-5px;
  width:8px;
  height:40px;
}
#u201_seg4 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:27px;
  width:239px;
  height:8px;
}
#u201_seg5 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:21px;
  width:20px;
  height:20px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:302px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:1495px;
  top:388px;
  width:0px;
  height:0px;
}
#u202_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:148px;
}
#u202_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:140px;
  width:441px;
  height:8px;
}
#u202_seg2 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:134px;
  width:20px;
  height:20px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:136px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:440px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:1932px;
  top:755px;
  width:247px;
  height:69px;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#996633;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:1932px;
  top:719px;
  width:113px;
  height:21px;
  font-size:16px;
  color:#996633;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:470px;
  width:0px;
  height:0px;
}
#u206_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:264px;
}
#u206_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:256px;
  width:708px;
  height:8px;
}
#u206_seg2 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:250px;
  width:20px;
  height:20px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:172px;
  top:252px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
